
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    <link href="~/Content/mycss/mystyle.css" rel="stylesheet" />
}

<h2>Danh sach san pham</h2>
<div class="list-pro">
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/images/dang1.jpg" alt=" CHÓ XỊ" title="Mỹ Phẩm" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>CHÓ XỊ</p>
            <p>1.000.000đ</p>
            <p>Đã bán:100sp</p>
            <p><input type="submit" value="Mua" class="fm-btnMua" /> </p>
        </div>

    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/images/boi.jpg" alt="BỐI THÚI ĐỊCH" title="Mỹ Phẩm" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>BỐI NGU</p>
            <p>1.000.000đ</p>
            <p>Đã bán:100sp</p>
            <p><input type="submit" value="Mua" class="fm-btnMua" /> </p>
        </div>

    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/images/dang2.jpg" alt="CHÓ XỊ" title="Mỹ Phẩm" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>CHÓ XỊ</p>
            <p>1.000.000đ</p>
            <p>Đã bán:100sp</p>
            <p><input type="submit" value="Mua" class="fm-btnMua" /> </p>
        </div>

    </div>
</div>

